<p>{{ variable }}</p>

<p>{{ object1.object2.object3var }}</p>

<ol>
  {% for simpleArrayItem in simpleArray %}
    <li>{{ simpleArrayItem }}</li>
  {% endfor %}
</ol>

<ol>
  {% for objectArrayObject in objectArray %}
    <li>{{ objectArrayObject.objectArrayObjectItem }}</li>
  {% endfor %}
</ol>

<ol>
  {% for objectArray2Object in objectArray2 %}
    <li>
      <ul>
        {% for objectArray2ObjectItem in objectArray2Object %}
          <li>{{ objectArray2ObjectItem }}</li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ol>

<ol>
  {% for objectArray3Object in objectArray3 %}
    <li>
      <ul>
        {% for objectArray3ObjectItem in objectArray3Object %}
          <li>{{ objectArray3ObjectItem.item }}</li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ol>

{% include "foo.twig" with var1 %}

{% include "foo.twig" with {
  var2: var2,
} %}

{% include "foo.twig" with {
  var3: var3.var3item.item,
} %}
